body {
  font-family: tahoma;
}

section {
  width: 50%;
  margin: 30px auto;
  border: 2px ridge gray;
  padding: 20px;
  border-radius: 0 50px 0 50px;
  box-shadow: 3px 3px 5px 1px gray;
}

input[type="text"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: rgba(161, 227, 155, 0.848);
  border-color: green;
  outline: 0px;
}

article {
  width: 22.5%;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  margin : 1.25%;
  float: left;
}

.position{
    position: relative;
    left: 30px;
    top : 160px;
}

.parent-position2{
    position: relative;
}

.position2{
    margin-top: 0;
    position: absolute;
    left: 0px;
    top : 0px;
}

.position3{
    position: fixed;
    right : 0px;
    bottom : 0px;
}